{{ define "static_page/home.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>Gin weibo</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">
      {{ template "shared/messages" . }}

      {{ if .currentUserData }}
        <div class="row">
          <div class="col-md-8">
            <section class="status_form">
              <form action='{{ Route "statuses.store" }}' method="POST">
                {{ .csrfField }}
                <input hidden name="back" value='{{ RelativeRoute "root" }}'>
                <textarea class="form-control" rows="3" placeholder="聊聊新鲜事儿..." name="content">{{ .oldValue.content }}</textarea>
                <div class="text-right">
                  <button type="submit" class="btn btn-primary mt-3">发布</button>
                </div>
              </form>
            </section>
            <h4>微博列表</h4>
            <hr>
            {{ if gt .statusesLength 0 }}
              <ul class="list-unstyled">
                {{ range .statuses }}
                  <li class="media mt-4 mb-4">
                    <a href='{{ Route "users.show" .status.UserID }}'>
                      <img src="{{ .user.Avatar }}" alt="{{ .user.Name }}" class="mr-3 gravatar"/>
                    </a>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">{{ .user.Name }} <small> / {{ .status.CreatedAt }}</small></h5>
                      {{ .status.Content }}
                    </div>
                    {{ if eq .status.UserID $.currentUserData.ID }}
                      <form action='{{ Route "statuses.destroy" .status.ID }}' method="POST" onsubmit="return confirm('您确定要删除本条微博吗？');">
                        {{ $.csrfField }}
                        <input hidden name="back" value='{{ RelativeRoute "root" }}'>
                        <button type="submit" class="btn btn-sm btn-danger">删除</button>
                      </form>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
              <div class="mt-5">
                {{ template "shared/pagination" . }}
              </div>
            {{ else }}
              <p>没有数据！</p>
           {{ end }}
          </div>
          <aside class="col-md-4">
            <section class="user_info">
              <a href='{{ Route "users.show" .currentUserData.ID }}'>
                <img src="{{ .currentUserData.Avatar }}?s=140" alt="{{ .currentUserData.Name }}" class="gravatar"/>
              </a>
              <h1>{{ .currentUserData.Name }}</h1>
            </section>
            <section class="stats mt-2">
              {{ template "shared/stats" . }}
            </section>
          </aside>
        </div>
      {{ else }}
        <div class="jumbotron">
          <h1>Hello Gin</h1>
          <p class="lead">
            你现在所看到的是 Gin weibo 主页。
          </p>
          <p>
            一切，将从这里开始。
          </p>
          <p>
            <a class="btn btn-lg btn-success" href='{{ Route "signup" }}' role="button">现在注册</a>
          </p>
        </div>
      {{ end }}

      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>


{{ end }}
