{{ define "password/email.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>重置密码</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">

      <div class="col-md-8 offset-md-2">
        <div class="card ">
          <div class="card-header"><h5>重置密码</h5></div>

          <div class="card-body">
            {{ template "shared/messages" . }}
            {{ template "shared/errors" . }}

            <form class="" method="POST" action='{{ Route "password.email" }}'>
              {{ .csrfField }}

              <div class="form-group">
                <label for="email" class="form-control-label">邮箱地址：</label>

                <input id="email" type="email" class="form-control" name="email" value="{{ .oldValue.email }}" required>

              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">
                  发送密码重置邮件
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>


{{ end }}
