{{ define "user/create.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>注册</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">
      {{ template "shared/messages" . }}

      <div class="offset-md-2 col-md-8">
        <div class="card ">
          <div class="card-header">
            <h5>注册</h5>
          </div>
          <div class="card-body">

            {{ template "shared/errors" . }}

            <form method="POST" action='{{ Route "users.store" }}'>
                {{ .csrfField }}

                <div class="form-group">
                  <label for="name">名称：</label>
                  <input type="text" name="name" class="form-control" value='{{ .oldValue.name }}'>
                </div>

                <div class="form-group">
                  <label for="email">邮箱：</label>
                  <input type="text" name="email" class="form-control" value='{{ .oldValue.email }}'>
                </div>

                <div class="form-group">
                  <label for="password">密码：</label>
                  <input type="password" name="password" class="form-control" value='{{ .oldValue.password }}'>
                </div>

                <div class="form-group">
                  <label for="password_confirmation">确认密码：</label>
                  <input type="password" name="password_confirmation" class="form-control" value='{{ .oldValue.password_confirmation }}'>
                </div>

                <button type="submit" class="btn btn-primary">注册</button>
            </form>
          </div>
        </div>
      </div>

      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>


{{ end }}
