{{ define "user/edit.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>更新个人资料</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">
      {{ template "shared/messages" . }}

      <div class="offset-md-2 col-md-8">
        <div class="card ">
          <div class="card-header">
            <h5>更新个人资料</h5>
          </div>
            <div class="card-body">

              {{ template "shared/errors" . }}

              <div class="gravatar_edit">
                <a href="http://gravatar.com/emails" target="_blank">
                  <img src='{{ .userData.Avatar }}?s=200' alt="{{ .userData.Name }}" class="gravatar"/>
                </a>
              </div>

              <form method="POST" action='{{ Route "users.update" .userData.ID }}'>
                  {{ .csrfField }}

                  <div class="form-group">
                    <label for="name">名称：</label>
                    <input type="text" name="name" class="form-control" value='{{ .userData.Name }}'>
                  </div>

                  <div class="form-group">
                    <label for="email">邮箱：</label>
                    <input type="text" name="email" class="form-control" value='{{ .userData.Email }}' disabled>
                  </div>

                  <div class="form-group">
                    <label for="password">密码：</label>
                    <input type="password" name="password" class="form-control" value='{{ .oldValue.password }}'>
                  </div>

                  <div class="form-group">
                    <label for="password_confirmation">确认密码：</label>
                    <input type="password" name="password_confirmation" class="form-control" value='{{ .oldValue.password_confirmation }}'>
                  </div>

                  <button type="submit" class="btn btn-primary">更新</button>
              </form>
          </div>
        </div>
      </div>

      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>


{{ end }}
