{{ define "user/index.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>所有用户</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">
      {{ template "shared/messages" . }}

      <div class="offset-md-2 col-md-8">
        <h2 class="mb-4 text-center">所有用户</h2>
        <div class="list-group list-group-flush">

          {{ range .users }}
            <div class="list-group-item">
              <img class="mr-3" src="{{ .Avatar }}?s=100" alt="{{ .Name }}" width=32>
              <a href='{{ Route "users.show" .ID }}'>
                {{ .Name }}
              </a>
              <!-- 当前用户为管理员并且不是操作的不是自己，才显示删除按钮 -->
              {{ if $.currentUserData.IsAdmin }}
                {{ if ne .ID $.currentUserData.ID }}
                  <form action='{{ Route "users.destroy" .ID }}?page={{ $.pagination.CurrentPage }}' method="post" class="float-right">
                    {{ $.csrfField }}
                    <button type="submit" class="btn btn-sm btn-danger delete-btn">删除</button>
                  </form>
                {{ end }}
              {{ end }}
            </div>
          {{ end }}

        </div>

        <div class="mt-3">
          {{ template "shared/pagination" . }}
        </div>
      </div>

      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>


{{ end }}
