{{ define "user/show.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ .userData.Name }}</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">
      {{ template "shared/messages" . }}

      <div class="row">
        <div class="offset-md-2 col-md-8">
          <section class="user_info">
            {{ template "shared/user_info" . }}
          </section>

          {{ if .currentUserData }}
            {{ if ne .currentUserData.ID .userData.ID }}
              <div class="text-center mt-2 mb-4">
                {{ if .isFollowing }}
                  <form action='{{ Route "followers.destroy" .userData.ID }}' method="post">
                    {{ .csrfField }}
                    <button type="submit" class="btn btn-sm btn-outline-primary">取消关注</button>
                  </form>
                {{ else }}
                  <form action='{{ Route "followers.store" .userData.ID }}' method="post">
                    {{ .csrfField }}
                    <button type="submit" class="btn btn-sm btn-primary">关注</button>
                  </form>
                {{ end }}
              </div>
            {{ end }}
          {{ end }}

          <section class="stats mt-2">
            {{ template "shared/stats" . }}
          </section>
          <hr>
          <!-- 微博 -->
          <section class="status">
            {{ if gt .statusesLength 0 }}
              <ul class="list-unstyled">
                {{ range .statuses }}
                  <li class="media mt-4 mb-4">
                    <a href='{{ Route "users.show" .UserID }}'>
                      <img src="{{ $.userData.Avatar }}" alt="{{ $.userData.Name }}" class="mr-3 gravatar"/>
                    </a>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">{{ $.userData.Name }} <small> / {{ .CreatedAt }}</small></h5>
                      {{ .Content }}
                    </div>
                    {{ if eq .UserID $.currentUserData.ID }}
                      <form action='{{ Route "statuses.destroy" .ID }}' method="POST" onsubmit="return confirm('您确定要删除本条微博吗？');">
                        {{ $.csrfField }}
                        <input hidden name="back" value='{{ RelativeRoute "users.show" $.userData.ID }}'>
                        <button type="submit" class="btn btn-sm btn-danger">删除</button>
                      </form>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
              <div class="mt-5">
                {{ template "shared/pagination" . }}
              </div>
            {{ else }}
              <p>没有数据！</p>
            {{ end }}
          </section>
        </div>
      </div>
      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>

{{ end }}
