{{ define "user/show.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ .userData.Name }}</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">
      {{ template "shared/messages" . }}

      <div class="row">
        <div class="offset-md-2 col-md-8">
          <div class="col-md-12">
            <div class="offset-md-2 col-md-8">
              <section class="user_info">
                {{ template "shared/user_info" . }}
              </section>
            </div>
          </div>
        </div>
      </div>

      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>

{{ end }}
