{{ define "user/show_follow.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ .title }}</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">
      {{ template "shared/messages" . }}

      <div class="offset-md-2 col-md-8">
        <h2 class="mb-4 text-center">{{ .title }}</h2>

        <div class="list-group list-group-flush">
          {{ range .users }}
            <div class="list-group-item">
              <img class="mr-3" src="{{ .Avatar }}" alt="{{ .Name }}" width=32>
              <a href='{{ Route "users.show" .ID }}'>
                {{ .Name }}
              </a>
            </div>
          {{ end }}
        </div>

        <div class="mt-3">
          {{ template "shared/pagination" . }}
        </div>
      </div>

      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>


{{ end }}
