{{define "shared/nav"}}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container ">
      <a class="navbar-brand" href="/">Weibo App</a>
      <ul class="navbar-nav justify-content-end">
        {{ if .currentUserData }}
          <li class="nav-item"><a class="nav-link" href='{{ Route "users.index" }}'>用户列表</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .currentUserData.Name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href='{{ Route "users.show" .currentUserData.ID }}'>个人中心</a>
              <a class="dropdown-item" href='{{ Route "users.edit" .currentUserData.ID }}'>编辑资料</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="logout" href="#">
                <form action='{{ Route "logout" }}' method="POST">
                  {{ .csrfField }}
                  <button class="btn btn-block btn-danger" type="submit" name="button">退出</button>
                </form>
              </a>
            </div>
          </li>
        {{ else }}
          <li class="nav-item"><a class="nav-link" href='{{ Route "help" }}'>帮助</a></li>
          <li class="nav-item" ><a class="nav-link" href='{{ Route "login.create" }}'>登录</a></li>
        {{ end }}
      </ul>
    </div>
  </nav>

{{ end }}
