{{ define "shared/pagination" }}

  <ul class="pagination" role="navigation">

    {{ if .pagination.OnFirstPage }}
      <li class="page-item disabled" aria-disabled="true" aria-label="{{ .pagination.PreviousButtonText }}">
        <span class="page-link" aria-hidden="true">&lsaquo;</span>
      </li>
    {{ else }}
      <li class="page-item">
        <a class="page-link" href="{{ .pagination.URL }}{{ .pagination.PreviousPageIndex }}" rel="prev" aria-label="{{ .pagination.PreviousButtonText }}">&lsaquo;</a>
      </li>
    {{ end }}

    {{ range $i, $v := .pagination.Elements }}
      {{ if eq $v $.pagination.CurrentPage }}
        <li class="page-item active" aria-current="page"><span class="page-link">{{ $v }}</span></li>
      {{ else }}
        <li class="page-item"><a class="page-link" href="{{ $.pagination.URL }}{{ $v }}">{{ $v }}</a></li>
      {{ end }}
    {{ end }}

    {{ if .pagination.HasMorePages }}
      <li class="page-item">
        <a class="page-link" href="{{ .pagination.URL }}{{ .pagination.NextPageIndex }}" rel="next" aria-label="{{ .pagination.NextButtonText }}">&rsaquo;</a>
      </li>
    {{ else }}
      <li class="page-item disabled" aria-disabled="true" aria-label="{{ .pagination.NextButtonText }}">
        <span class="page-link" aria-hidden="true">&rsaquo;</span>
      </li>
    {{ end }}

  </ul>

{{ end }}
