{{define "layouts/footer"}}

        <footer class="footer">
          <img class="brand-icon" src="https://iocaffcdn.phphub.org/uploads/sites/KDiyAbV0hj1ytHpRTOlVpucbLebonxeX.png">
          <a href="https://learnku.com/laravel/courses" target=_blank>
            刻意练习，每日精进
          </a>

          <div class="float-right">
            <a href="/about" >关于</a>
          </div>
        </footer>

      </div>
    </div>
    <script src={{ Mix "/js/app.js" }}></script>
  </body>
</html>

{{ end }}
