{{define "layouts/header"}}

<!DOCTYPE html>
<html>
  <head>
    <title>gin weibo {{ . }}</title>
    <link rel="stylesheet" href={{ Mix "/css/app.css" }}>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Weibo App</a>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item"><a class="nav-link" href="/help">帮助</a></li>
          <li class="nav-item" ><a class="nav-link" href="#">登录</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">


{{ end }}
